{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<!--
<style>
    ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}
</style>-->
<script type="text/javascript" src="/static/date.js"></script>
<div class="main">
    <p>Date/Time: <span id="datetime"></span></p>
    <script type="text/javascript">window.onload = datetime('datetime');</script>
</div>
{{end}}