html {
    background: #e6e9e9;
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 2em 4em;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 14%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 160px;
    font-size: 14px;
    padding: 0px 10px;
}

.footer {
    bottom: 0;
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#header {
    background-color: blanchedalmond;
    text-align: center;
}

#header a{
    color: white;
}

textarea {
    font-size: 12pt;
    max-width: 95%;
    width: 95%;
    height: 200px;
    border: 3px double #ccc;
    border-radius: 10px;
    background: #e0e0e0e0;
    
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}